// 颜色
$accentColor = #f48fb1
$textColor = #ffcdd2
$borderColor = #f48fb1
$codeBgColor = #282c34
$arrowBgColor = #ccc
$badgeTipColor = #ffcdd2
$badgeWarningColor = darken(#ffe564, 35%)
$badgeErrorColor = #cb111d

// 布局
$navbarHeight = 3.6rem
$sidebarWidth = 20rem
$contentWidth = 740px
$homePageWidth = 960px

// 响应式变化点
$MQNarrow = 959px
$MQMobile = 719px
$MQMobileNarrow = 419px