<div id="home">
  <input value="{msg}">
  <div>
    <div>{cnt}</div>
    <button onclick="plus()">+1</button>
  </div>
  <div for="i:arr"> {i} </div>
  <!-- <button onclick="isShow()">Show?</button> -->
  <div class="story">
    <div class="conditions">
      <button onclick="switch1()">if ({condition1})</button>
      <button onclick="switch2()">else-if ({condition2})</button>
    </div>
    <div class="result">
      <div if="condition1">Everyone Love You!</div>
      <div else-if="condition2">Some People Love You!</div>
      <div else>I Love You!</div>
    </div>
  </div>
  <div>
    <a href="https://github.com/CoderSerio/Mud.js" target="_blank">Learn About More</a>
  </div>
</div>

<script type="module" src="./index.js"></script>
<script>
  const plus = () => {
    mud.data.cnt ++
  }
  const switch1 = () => {
    mud.data.condition1 = !mud.data.condition1
  }
  const switch2 = () => {
    mud.data.condition2 = !mud.data.condition2
  }
</script>

<style>
* {
  color: #ffcdd2;
  text-align: center;
  font-family: cursive;
  font-size: 24px;
  margin: 6px;
}

input {
  border-radius: 4px;
  border: 0;
  outline: 3px solid #f48fb1;
  box-shadow: 1px 1px 2px 1px #f48fb1;
  color: #ec407a;
}

input {
  border-radius: 4px;
  border: 0;
  outline: 3px solid #f48fb1;
  box-shadow: 1px 1px 2px 1px #f48fb1;
  color: #ec407a;
}

button {
  background: #ec407a;
  padding: 4px 24px;
  font-size: 20px;
  border: 1px #f48fb1 solid;
  border-radius: 4px;
  cursor: pointer;
}

</style>

