name: Build and Deploy
on: # 监听 main 分支上的 push 事件
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest 
    steps:
      - name: Checkout
        uses: actions/checkout@v2.3.1  
        with:
          persist-credentials: false

      - name: Install and Build # 下载依赖 打包项目
        run: |
          npm install
          npm run build

      - name: Deploy # 将打包内容发布到 github page
        uses: JamesIves/github-pages-deploy-action@v4.3.3
        with:  # 自定义环境变量
          BRANCH: build # 打包后的分支
          FOLDER: lib 
          REPOSITORY_NAME: CoderSerio/Mud.js 
          TARGET_FOLDER: / # 打包的文件将放到静态服务器 / 目录下
          # ACCESS_TOKEN: ${{ secrets }} # 这一行不要也可以